@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
/* CSS Document */

* {
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px;
	width: 100vw;
	height: 100vh;
	font-family: 'Raleway';
	background-color: hsl(229, 57%, 11%);
}

main {
	width: 1440px;
	height: 800px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	background: hsl(229, 57%, 11%) url("../images/bg-desktop.png") no-repeat bottom;
}

#fylo-storage {
	height: 201px;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	margin-top: 289px;
}

#fylo-storage>div {
	background-color: hsl(228, 56%, 26%);
}


/*----------------- fylo div -----------------*/

#fylo {
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 350px;
	height: 201px;
	border-radius: 10px 100px 10px 10px;
	padding: 40px 41px 0px;
	
}

#fylo>div {
	width: 176px;
}

#fylo-icons {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#fylo-icons>div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	border-radius: 10px;
	background-color: hsl(229, 57%, 11%);
}


/*----------------- storage div -----------------*/

#storage {
	width: 540px;
	height: 154px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 30px;
	border-radius: 10px;
}

#tooltip {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
	margin: -47px 40px 0px 0px;
	align-self: flex-end;
}

#tooltip-body {
	width: 179px;
	height: 72px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 10px 10px 0px;
	background-color: white;
}

#tooltip-edge {
	width: 0px;
	height: 0px;
	border-right: 10px solid white;
	border-top: 10px solid white;
	border-left: 10px solid transparent;
	border-bottom: 10px solid transparent;
}

#storage-used {
	height: 16px;
	text-align: left;
	margin-top: 40px;
	font-weight: 400;
}

#storage-bar-background {
	height: 20px;
	display: flex;
	align-items: flex-start;
	margin-top: 16px;
	border-radius: 10px;
	background-color: hsl(229, 57%, 11%);
}

#bar {
	height: 14px;
	width: 339px;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
	margin: 3px 3px;
}

#bar-tip {
	height: 10px;
	width: 10px;
	border-radius: 7px;
	margin: 2px 2px;
	background-color: hsl(243, 100%, 93%);
}

#storage-milestone {
	display: flex;
	flex-direction: row;
	margin-top: 8px;
}

#storage-milestone>div {
	width: 270px;
	height: inherit;
	font-weight: 700;
	font-size: 12px;
}

#maximum {
	text-align: right;
}

.storage-div {
	height: 16px;
	width: 459px;
	font-size: 14px;
	line-height: 16px;
	color: hsl(243, 100%, 93%);
}

.tooltip-amount {
	height: 46px;
	padding: 0px;
	font: 700 40px 'Raleway';
	color: black;
}

.tooltip-text {
	height: 14px;
	padding: 0px;
	margin: 6px 0px 0px 9px;
	font: 700 12px 'Raleway';
	color: hsl(229, 7%, 55%);
	left: 1px;
}


/*#################### MOBILE VERSION ####################*/


@media screen and (max-width: 480px) {

	main {
		width: 375px;
		height: 667px;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		background: hsl(229, 57%, 11%) url("../images/bg-mobile.png") no-repeat bottom;
	}

	#fylo-storage {
		height: 423px;
		flex-direction: column;
		align-items: center;
		margin-top: 117px;
	}

	/*----------------- fylo div -----------------*/

	#fylo {
		width: 326px;
		height: 201px;
		padding-left: 41px;
	}

	#fylo>div {
		width: 176px;
	}

	#fylo-icons {
		margin-top: 33px;
	}

	/*----------------- storage div -----------------*/

	#storage {
		width: 326px;
		height: 160px;
		margin: 26px 0px 0px;
	}

	#tooltip {
		
		margin: 124px 0px 0px 0px;
		align-self: center;
	}

	#tooltip-body {
		border-radius: 10px;
	}

	#tooltip-edge {
		display: none;
	}

	#storage-used {
		text-align: center;
		margin-top: 32px;
	}

	#storage-milestone {
		margin-top: 10px;
	}

	.storage-div {
		width: 262px;
	}
}